<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Ups! :(</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="card text-center p-5">
            <h2>El recurso solicitado no ha sido encontrado :(</h2>
            <a href="{{url_for('index')}}"><button class="btn btn-danger">Ok</button></a>
        </div>
    </div>
    
</body>
</html>